<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Waiters</title>
      <link rel="stylesheet" href="waiter.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Waiters Application</h1>
      <br>
      Welcome, {{waiterName}}

        <form action="/waiters/{{waiterName}}", method='post'>
<div class="checkbox">
  <label class="checkbox-inline"><input type="checkbox" name="days" value="Monday" {{#if shift.Monday}}checked{{/if}}>Monday</label>
  <label class="checkbox-inline"><input type="checkbox" name="days" value="Tuesday" {{#if shift.Tuesday}}checked{{/if}}>Tuesday</label>
  <label class="checkbox-inline"><input type="checkbox" name="days" value="Wednesday" {{#if shift.Monday}}checked{{/if}}>Wednesday</label>
  <label class="checkbox-inline"><input type="checkbox" name="days" value="Thursday" {{#if shift.Monday}}checked{{/if}}>Thursday</label>
  <label class="checkbox-inline"><input type="checkbox" name="days" value="Friday" {{#if shift.Monday}}checked{{/if}}>Friday</label>
  <label class="checkbox-inline"><input type="checkbox" name="days" value="Saturday" {{#if shift.Monday}}checked{{/if}}>Saturday</label>
  <label class="checkbox-inline"><input type="checkbox" name="days" value="Sunday" {{#if shift.Monday}}checked{{/if}}>Sunday</label>
        </div>
           <button type="submit" class="btn btn-default">Submit</button>

      </form>
<br>
<br>

{{messages.erorr}}
<div class="alert alert-success">
<strong>{{messages.msg}}</strong>
<strong>
<br><br>
{{messages.msg2}}
</div>
  </body>
</html>
